* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	text-align: center;
}

.container {
	width: 90%;
	height: 600px;
	margin: auto;
	margin-top: 20px;
	border: 5px solid darkcyan;
}

.main-box {
	width: 80%;
	height: 240px;
	margin: auto;
	margin-top: 180px;
}

.gray-box {
	float: left;
	width: 30%;
	height: 240px;
	background-color: gray;
}

.blue-box {
	width: 80%;
	height: 200px;
	margin: auto;
	margin-top: 18px;
	border: 2px solid blue;
	background-color: cyan;
}

.img {
	width: 40%;
	display: block;
	margin: auto;
}

.lemon-title {
	color: blue;
	font-size: 18px;
	line-height: 60px;
}

.lemon-paragraph {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	border: 2px solid darkgray;

	color: red;
	background-color: lightgray;
	font-size: 14px;
}

.white-box {
	float: right;
	width: 60%;
	height: 240px;
	border: 2px solid blue;
}

.header {
	width: 100%;
	height: 20px;
	border-bottom: 2px solid blue;

	color: blue;
	font-size: 14px;
	line-height: 20px;
}

.title {
	float: left;
	width: 85%;
}

.menu li {
	float: left;
	width: 5%;
	list-style: none;
}

.post {
	width: 80%;
	height: 220px;
	padding: 50px 50px 50px 50px;

	color: gray;
	font-size: 22px;
	line-height: 30px;
}